@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Bold.ttf');
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
    background-position: top right, left bottom;
    background-repeat: no-repeat;
    max-width: 1440px;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: 700;
}

.annually-month {
    margin: 35px auto 60px auto;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(234, 14%, 74%);
}

.annually-month span {
    margin: 30px;
}

.bt-switch {
    background: hsl(237, 63%, 64%);
    width: 50px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.bt-switch:before {
    content: '';
    background: #fff;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    position: absolute;
    top: 0;
    left: 25px;
    transform: scale(0.8);
    transition: .3s ease-in-out all;
}

.bt-switch.active:before {
    left: 0;
}

.bt-switch:active {
    background: hsl(236, 72%, 79%);
}

.main {
    margin: 10px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pricing-cards {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 250px;
    padding: 20px;
    background: hsl(240, 78%, 98%);
    color: hsl(232, 13%, 33%);
    border-radius: 10px;
}

.card h3 {
    margin: 30px 0;
}

.price {
    margin: 20px auto;
    font-weight: 900;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card ul {
    list-style-type: none;
    margin: 20px;
}

.card ul li {
    padding: 10px 30px;
    border-top: 1px solid hsl(234, 14%, 74%);
}

.card ul li:last-child {
    border-bottom: 1px solid hsl(234, 14%, 74%);
}

div.left {
    border-radius: 10px 0 0 10px;
}

div.right {
    border-radius: 0 10px 10px 0;
}

div.principal {
    /* transform: scaleY(1.1); */
    width: 240px;
    padding: 40px 20px;
    background: hsl(237, 63%, 64%);
    color: hsl(240, 78%, 98%);
}

div.principal ul li {
    padding: 10px 30px;
    border-top: 1px solid hsl(240, 78%, 98%);
}

div.principal ul li:last-child {
    border-bottom: 1px solid hsl(240, 78%, 98%);
}

div.principal a,
div.principal a:hover,
div.principal a:visited {
    background: hsl(240, 78%, 98%);
    border: 1px solid hsl(240, 78%, 98%);
    color: hsl(237, 63%, 64%);
}

div.principal a:active {
    background: hsl(237, 63%, 64%);
    color: hsl(240, 78%, 98%);
}

.card span {
    font-size: 40px;
}

.card a,
.card a:hover,
.card a:visited {
    display: block;
    text-decoration: none;
    font-size: 12px;
    width: 180px;
    height: 15px;
    padding: 15px;
    margin: 0px auto;
    border: 1px solid hsl(237, 63%, 64%);
    border-radius: 5px;
    color: hsl(240, 78%, 98%);
    letter-spacing: 1px;
    background: hsl(237, 63%, 64%);
    transition: .1s ease all;
}

.card a:active {
    background: floralwhite;
    color: hsl(237, 63%, 64%);
}